<%inherit file="/base.html"/>

<%block name="content">
<div class="container page-content">
    <div class="king-exception-box king-403-page">
    <img src="https://magicbox.bk.tencent.com/static_api/v3/components/exception_building/images/building.png"> 
    <h1>此功能正在开发中......</h1>
    <h4>目前已实现以下功能：</h4>
    <a href="${SITE_URL}all_vulnscan/" class="king-btn king-info">查看漏洞扫描任务</a><br>
    <a href="${SITE_URL}create_vulnscan/" class="king-btn king-info">创建漏洞扫描任务</a>
    
    </div>
</div>
</%block>
